
<div class="dh-user">
    @if (String.IsNullOrEmpty((string)ViewData["Sessions_UserUID"]))
    {
        <a href="/Members/Login" class="dh-log-btn">Login</a>
    }
    else
    {
        <a href="javascript:;" data-dropdown="dk-user-box"><img src="~/Content/img/userProfilPics/@ViewData["Sessions_UserProfilPic"]" alt="ppic" /></a>
        <div id="dk-user-box" class="dk-user-box hidden-xs">
            <div class="active-account">
                <div class="user-photo">
                    <img src="~/Content/img/userProfilPics/@ViewData["Sessions_UserProfilPic"]" alt="" />
                    <a href="#">Change Profil Picture</a>
                </div>
                <div class="user-info">
                    <div class="user-rname">@ViewData["Sessions_UserRName"]</div>
                    <div class="username">&#64;@ViewData["Sessions_Username"]</div>
                    <div class="user-profil-link"><a href="#" class="dk-btn dk-btn-primary">Go Profil</a></div>
                </div>
                <div class="clear-both"></div>
            </div>
            <div id="savedAccounts" class="other-accounts"></div>
            <div class="dk-user-box-log">
                <a href="/Members/Login" class="dk-btn">Add Account</a>
                <a id="logoutBtn" href="javascript:;" class="dk-btn">Logout</a>
            </div>
        </div>
    }
</div>
